.row
  .recent_top_hits
    .col-md-6
      .stories
        %h2
          = link_to 'Top Stories', url_for(top_hits_path)
        - @top_hits.each do |tophit|
          = render partial: 'stories/tophit', locals: { tophit: tophit }
  .loved_stories
    .col-md-6
      .stories
        .row
          %ul.list-inline
            %li
              %h2
                = link_to 'Trending Stories', url_for(stories_path)
            %li.pull-right.time-frame
              %ul.list-inline
                %li.h5{class: ('underlined' if !params.has_key?(:time_frame) || params[:time_frame] == 'week')}
                  = link_to 'Week', controller: 'stories_front_page', action: :index, time_frame: 'week'
                %li.h5{class: ('underlined' if params.has_key?(:time_frame) && params[:time_frame] == 'month')}
                  = link_to 'Month', controller: 'stories_front_page', action: :index, time_frame: 'month'
                %li.h5{class: ('underlined' if params.has_key?(:time_frame) && params[:time_frame] == 'alltime')}
                  = link_to 'All', controller: 'stories_front_page', action: :index, time_frame: 'alltime'
        - @stories.each do |story|
          = render partial: 'stories/story', locals: { story: story, past_tense: false }
