.pull-right.search-box
  = form_tag '/search_stories', method: :get do
    .form-inline
      = text_field_tag :search_string, @search_story.search_string
      = hidden_field_tag :order_direction, @search_story.order_direction
      = hidden_field_tag :order_column_name, @search_story.order_column_name
      .btn
        = submit_tag "Search"
