.row
  .col-md-12
    - if @stories.empty?
      .text-center
        %p Nothing found.
    - else
      .search-header
        %p
          %span.heading.last-seen
            = link_to "Last Seen", action: :index, order_direction: @search_story.order_direction, search_string: @search_story.search_string, order_column_name: 'last_seen'
          %span.heading.time-at-num-one
            = link_to "Time at #1", action: :index, order_direction: @search_story.order_direction, search_string: @search_story.search_string, order_column_name: 'time_at_num_one'
          %span.heading.description
            Story
      .stories
        - @stories.each do |story|
          %p
            %span.story-time
              %a(href="#{build_hacker_news_href(story.hn_id)}")
                = minutes_to_words(time_difference_between_now_and_date_last_num_one_in_minutes(story.date_seen)) + ' ago'
            %span.story-duration
              %a(href="#{build_hacker_news_href(story.hn_id)}") 
                = minutes_to_words(story.time_at_num_one)
            %span.story-link
              %a(href="#{story.href}") #{story.description}
