%p
  %span.story-link
    %a(href="#{story.href}") #{story.description}
  %span.story-duration
    %a(href="#{build_hacker_news_href(story.hn_id)}") 
      = "(#{minutes_to_words(story.time_at_num_one) + (past_tense ? ' ago' : '')} @ #1)"
