%p
  .story-link
    %a(href="#{tophit.story.href}" target='_blank') #{tophit.story.description}
  .story-time
    %a(href="#{build_hacker_news_href(tophit.story.hn_id)}" target='_blank')
      = "#1, #{minutes_to_words(time_difference_between_now_and_date_last_num_one_in_minutes(tophit.date_seen))} ago, for #{minutes_to_words(tophit.story.time_at_num_one)}"
