
.container
  .jumbotron.text-center
    %h1 Hacker News Top Hits
  .row
    .col-md-6
      .stories
        %h2 Recent Top Hits
        - @top_hits.each_with_index do |tophit, i|
          %p
            %a(href="#{tophit.href}") #{tophit.description}
    .col-md-6
      .stories
        %h2 Longest Loved Top Hits
        - @stories.each do |story|
          %p.story-time
            %span
              = "#{story.time_at_num_one} min"
            %a(href="#{story.href}") #{story.description}
