!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    %meta{name: "description", content: "Only trending stories from Hacker News"}/
    %meta{property: "og:url", content: "http://hntophits.net"}/
    %meta{property: "og:title", content: "Hacker News Top Stories"}/
    %meta{property: "og:description", content: "Only trending stories from Hacker News"}/
    %title HNTopHits
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'google-analytics'
    = csrf_meta_tags
  %body{class: "#{controller_name}_controller"}
    .container
      .jumbotron
        .row
          .col-md-6
            %h1
              = link_to 'Hacker News Top Hits', controller: :stories_front_page
          .col-md-6
            %ul.what-is-info.list-inline
              %li
                Started July 10 '15
              %li
                %a(href='https://github.com/brucewoodward/hntophits') Source code
              %li
                = render partial: 'search_stories/form'
      = yield
